Repository contao/docs, pull requests merged in 2019-11, with the labels that each got.

#133 Add note about bypassing the image cache in 4.4
  docs/manual/system/debug-mode.de.md
  docs/manual/system/debug-mode.en.md
Labels: User Manual

#142 fix getting started article on hooks (#140, #141)
  docs/dev/framework/hooks.md
  docs/dev/getting-started/hooks.md
Labels: Bug, Developer Documentation

#137 change rel to data-lightbox at hyperlink
  docs/manual/article-management/content-elements.de.md
Labels: User Manual

#150 Fix broken link
  docs/dev/framework/content-elements.md
Labels: Bug, Developer Documentation

#152 Add note about the stack trace being shown in the debug mode
  docs/manual/system/debug-mode.de.md
  docs/manual/system/debug-mode.en.md
Labels: User Manual

#147 Update call-and-structure-of-the-backend.de.md
  docs/manual/backend/call-and-structure-of-the-backend.de.md
Labels: User Manual

#148 Update backend-keyboard-shortcuts.de.md
  docs/manual/backend/backend-keyboard-shortcuts.de.md
Labels: User Manual

#153 Update call-and-structure-of-the-backend.de.md
  docs/manual/backend/call-and-structure-of-the-backend.de.md
Labels: User Manual

#169 fix language menu (#166)
  page/layouts/partials/menu.html
Labels: Bug, User Manual

#170 fix current language detection (#166, #169)
  page/layouts/partials/menu.html
Labels: Bug, User Manual

#173 fix color of language switcher in Google Chrome
  page/static/css/theme-contao.css
Labels: Bug, User Manual

#175 Improve DCA callbacks reference
  docs/dev/reference/dca/callbacks.md
Labels: Developer Documentation

#171 fix broken link (#168)
  docs/manual/module-management/_index.de.md
Labels: Bug, User Manual

#165 Explain 2FA for back end users
  docs/manual/user-management/users.de.md
Labels: User Manual

#163 Update users.de.md
  docs/manual/user-management/users.de.md
Labels: User Manual

#176 fix prev/next navigation (#52)
  page/config/dev/params.yml
  page/layouts/partials/footer.html
Labels: Developer Documentation

#178 Fix typo
  docs/dev/framework/front-end-modules.md
Labels: Developer Documentation

#179 Add note about the Contao 4.4 directory structure
  docs/dev/getting-started/starting-development.md
Labels: Developer Documentation

#184 Add warning for mcrypt
  docs/dev/reference/dca/callbacks.md
  docs/dev/reference/dca/fields.md
Labels: Developer Documentation

#146 Fixed a few typos
  docs/dev/framework/insert-tags.md
Labels: Developer Documentation

#185 Add translations article
  docs/dev/framework/translations.md
Labels: Developer Documentation

#187 Add information about template data
  docs/dev/framework/templates.md
Labels: Developer Documentation

#190 fix getContentElement hook (#189)
  docs/dev/reference/hooks/getContentElement.md
Labels: Developer Documentation

#157 update pdir extensions
  docs/manual/extensions/animated-timeline.de.md
  docs/manual/extensions/animated-timeline.en.md
  docs/manual/extensions/images/de/animated-timeline_horizontal.png
  docs/manual/extensions/images/de/animated-timeline_vertical.png
  docs/manual/extensions/images/de/maklermodul_mate_details.png
  docs/manual/extensions/images/de/maklermodul_mate_liste_buttons.png
  docs/manual/extensions/images/de/maklermodul_mate_liste_selects.png
  docs/manual/extensions/images/de/maklermodul_odd_details.png
  docs/manual/extensions/images/de/maklermodul_odd_liste_buttons.png
  docs/manual/extensions/images/de/maklermodul_odd_liste_selects.png
  docs/manual/extensions/images/de/social-feed.png
  docs/manual/extensions/images/en/animated-timeline_horizontal.png
  docs/manual/extensions/images/en/animated-timeline_vertical.png
  docs/manual/extensions/images/en/maklermodul_mate_details_en.png
  docs/manual/extensions/images/en/maklermodul_mate_liste_buttons_en.png
  docs/manual/extensions/images/en/maklermodul_mate_liste_selects_en.png
  docs/manual/extensions/images/en/maklermodul_odd_details_en.png
  docs/manual/extensions/images/en/maklermodul_odd_liste_buttons_en.png
  docs/manual/extensions/images/en/maklermodul_odd_liste_selects_en.png
  docs/manual/extensions/images/en/social-feed.png
  docs/manual/extensions/maklermodul.de.md
  docs/manual/extensions/maklermodul.en.md
  docs/manual/extensions/social-feed.de.md
  docs/manual/extensions/social-feed.en.md
Labels: User Manual

#138 Added initial version of our BC promise
  docs/dev/internals/bc-promise.md
Labels: Developer Documentation

#192 Change the title to "Backwards Compatibility Promise"
  docs/dev/internals/bc-promise.md
Labels: Developer Documentation
