Repository contao/docs, pull requests merged in 2020-10, with the labels that each got.

#577 Add more crawler infos
  docs/manual/system/maintenance.de.md
  docs/manual/system/maintenance.en.md
Labels: User Manual

#588 more precise cron behaviour for testing
  docs/dev/framework/cron.md
Labels: Developer Documentation

#590 Update FAQ
  docs/manual/faq/_index.de.md
  docs/manual/faq/_index.en.md
Labels: User Manual

#586 Update info about the Devilbox auto-DNS feature
  docs/manual/guides/local-installation/devilbox.de.md
  docs/manual/guides/local-installation/devilbox.en.md
Labels: User Manual

#591 Update CM User FAQ
  docs/manual/installation/contao-manager.de.md
  docs/manual/installation/contao-manager.en.md
Labels: User Manual

#595 Update config.onload
  docs/dev/reference/dca/callbacks.md
Labels: Developer Documentation

#585 Guide: Options for using Webfonts
  docs/manual/guides/src-webfont/vollkorn-v12-latin-600.eot
  docs/manual/guides/src-webfont/vollkorn-v12-latin-600.ttf
  docs/manual/guides/src-webfont/vollkorn-v12-latin-600.woff
  docs/manual/guides/src-webfont/vollkorn-v12-latin-600.woff2
  docs/manual/guides/src-webfont/vollkorn-v12-latin-700italic.eot
  docs/manual/guides/src-webfont/vollkorn-v12-latin-700italic.ttf
  docs/manual/guides/src-webfont/vollkorn-v12-latin-700italic.woff
  docs/manual/guides/src-webfont/vollkorn-v12-latin-700italic.woff2
  docs/manual/guides/webfont.de.md
  docs/manual/guides/webfont.en.md
Labels: Two Month Review, User Manual

#578 Add new section on how to update locally
  docs/manual/installation/images/de/cloud_resolver_abschalten.png
  docs/manual/installation/images/de/composer-install-mit-dem-contao-manager.png
  docs/manual/installation/update-contao.de.md
Labels: Two Month Review, User Manual

#581 Guide for Frontend features with different implementation options
  docs/manual/guides/filter.de.md
  docs/manual/guides/filter.en.md
Labels: Two Month Review, User Manual

#598 Add note to DSGVO
  docs/manual/guides/webfont.de.md
Labels: User Manual

#599 Fix typo
  docs/manual/guides/webfont.de.md
Labels: User Manual

#600 Patch: Moved the first html examples up one level
  docs/manual/guides/filter.de.md
  docs/manual/guides/filter.en.md
Labels: User Manual
