Repository contao/docs, pull requests merged in 2020-03, with the labels that each got.

#205 Add contao:migrate command
  docs/dev/framework/migrations.md
  docs/dev/reference/commands.md
Labels: Developer Documentation

#294 Update front-end-modules.md
  docs/dev/framework/front-end-modules.md
Labels: Developer Documentation

#225 Fix back end route controller example
  docs/dev/guides/backend-routes.md
Labels: Bug, Developer Documentation

#298 Add tip about Contao 4.9 service autoregistration
  docs/dev/getting-started/starting-development.md
Labels: Developer Documentation

#301 Add explanation on how to disable indexing for pages conditionally
  docs/dev/framework/search-indexing.md
Labels: Developer Documentation

#290 Extend the environment variables with APP_SECRET and DATABASE_URL descriptions
  docs/dev/reference/config.md
Labels: Developer Documentation

#304 Add inspiredminds/contao-news-twitter
  docs/manual/extensions/news-twitter-sync.de.md
  docs/manual/extensions/news-twitter-sync.en.md
Labels: User Manual

#305 Require ^4.4 (avoid getting Symfony 5.*)
  docs/dev/getting-started/initial-setup/symfony-application.md
Labels: Developer Documentation

#306 Fix composer requirements errors
  docs/dev/getting-started/initial-setup/symfony-application.md
Labels: Developer Documentation

#309 Fix typo and change wording (according to #117)
  docs/manual/guides/install-test-versions.de.md
Labels: User Manual

#307 Split Contao 4.4.* / 4.9* in a Symfony application docs into separate pages
  docs/dev/getting-started/initial-setup/symfony-application/_index.md
  docs/dev/getting-started/initial-setup/symfony-application/contao-4.4.md
  docs/dev/getting-started/initial-setup/symfony-application/contao-4.9.md
Labels: Developer Documentation

#312 Typo
  docs/manual/guides/add-first-index-page.de.md
Labels: User Manual

#313 Load Contao modules automatically, if available
  docs/dev/getting-started/initial-setup/symfony-application/contao-4.4.md
  docs/dev/getting-started/initial-setup/symfony-application/contao-4.9.md
Labels: Developer Documentation

#314 remove warning caused by http connection (orange title bar of image)
  docs/manual/installation/images/de/erweiterungen-im-contao-manager-installiert.png
Labels: User Manual

#315 Typo
  docs/manual/module-management/user-modules.de.md
Labels: User Manual

#316 Fix Byte size computation
  docs/manual/system/settings.de.md
Labels: User Manual

#317 Gedankenstrich anstelle Trennstrich
  docs/manual/extensions/cca-merger2.de.md
  docs/manual/installation/contao-manager.de.md
Labels: User Manual

#318 Typo und "Name der Benutzergruppe passt nicht zum Screenshot"
  docs/manual/user-management/users.de.md
Labels: User Manual

#319 change example
  docs/manual/site-structure/pages-as-central-elements.de.md
Labels: User Manual
