Repository contao/docs, pull requests merged in 2020-11, with the labels that each got.

#596 Update »Datenbanktabellen aktualisieren« via Konsole
  docs/dev/reference/commands.md
  docs/manual/installation/install-contao.de.md
  docs/manual/installation/install-contao.en.md
Labels: Developer Documentation, User Manual

#587 Use security voters instead of user instances
  docs/dev/reference/services.md
Labels: Developer Documentation

#605 Fix and clarify 'explanations'
  docs/dev/reference/dca/fields.md
Labels: Developer Documentation

#603 Fix label of image
  docs/manual/installation/update-contao.de.md
Labels: User Manual

#325 Update request-tokens.md
  docs/dev/framework/request-tokens.md
Labels: Developer Documentation

#609 New root page settings and legacy routing
  docs/manual/layout/site-structure/configure-pages.de.md
  docs/manual/layout/site-structure/configure-pages.en.md
  docs/manual/layout/site-structure/images/en/assign-access-rights.png
  docs/manual/layout/site-structure/multilingual-websites.de.md
  docs/manual/layout/site-structure/multilingual-websites.en.md
Labels: User Manual

#602 Update update-contao.en.md
  docs/manual/installation/images/en/composer-install-using-the-contao-manager.png
  docs/manual/installation/images/en/disable_cloud_resolver.png
  docs/manual/installation/install-contao.de.md
  docs/manual/installation/install-contao.en.md
  docs/manual/installation/update-contao.de.md
  docs/manual/installation/update-contao.en.md
Labels: User Manual

#611 Guide - Examples with the module "Auflistung"
  docs/manual/guides/module-listing.de.md
  docs/manual/guides/module-listing.en.md
Labels: Two Month Review, User Manual

#614 AdHoc Patches
  docs/manual/installation/install-contao.de.md
  docs/manual/installation/update-contao.de.md
  docs/manual/layout/templates/_index.en.md
Labels: User Manual

#616 Update configure-pages.de.md
  docs/manual/layout/site-structure/configure-pages.de.md
Labels: User Manual

#618 Add generate has with console
  docs/manual/installation/contao-manager.de.md
Labels: User Manual

#620 Use markdown code blocks instead of HTML
  docs/manual/installation/contao-manager.de.md
  docs/manual/installation/contao-manager.en.md
Labels: User Manual

#625 added a 'be' in translations.md
  docs/dev/framework/translations.md
Labels: Developer Documentation

#626 Update manual for contao-news-facebook
  docs/manual/extensions/news-facebook-sync.de.md
  docs/manual/extensions/news-facebook-sync.en.md
Labels: User Manual
