Repository contao/docs, pull requests merged in 2020-04, with the labels that each got.

#322 Document Contao's events
  docs/dev/guides/back-end-routes.md
  docs/dev/reference/events.md
  page/layouts/shortcodes/version.html
Labels: Developer Documentation

#323 Hook validateFormField: update condition
  docs/dev/reference/hooks/validateFormField.md
Labels: Developer Documentation

#324 Update configure-pages.de.md
  docs/manual/site-structure/configure-pages.de.md
Labels: User Manual

#321 "Standardlayout" entfernt
  docs/manual/site-structure/configure-pages.de.md
Labels: User Manual

#331 some minor fixes (typos)
  docs/manual/article-management/articles.de.md
  docs/manual/article-management/content-elements.de.md
  docs/manual/article-management/insert-tags.de.md
Labels: User Manual

#334 "Positionsangaben" entfernt
  docs/manual/core-extensions/calendar/calendar-management.de.md
  docs/manual/core-extensions/faq/faq-management.de.md
  docs/manual/core-extensions/news/news-management.de.md
  docs/manual/core-extensions/newsletter/newsletter-management.de.md
Labels: User Manual

#335 Analog der Änderung in #331
  docs/manual/core-extensions/calendar/calendar-management.de.md
  docs/manual/core-extensions/faq/faq-management.de.md
  docs/manual/core-extensions/news/frontend-modules.de.md
  docs/manual/core-extensions/news/news-management.de.md
Labels: User Manual

#336 Update manage-page-layouts.de.md
  docs/manual/theme-manager/manage-page-layouts.de.md
Labels: User Manual

#339 fix typo
  docs/manual/core-extensions/newsletter/newsletter-management.de.md
Labels: User Manual

#340 change wording
  docs/manual/file-manager/file-manager.de.md
Labels: User Manual

#341 Change description of how to specify editable files
  docs/manual/file-manager/file-manager.de.md
Labels: User Manual

#343 two small fixes
  docs/dev/getting-started/core-concepts.md
Labels: Developer Documentation

#332 Asset Management
  docs/dev/framework/asset-management.md
  docs/manual/article-management/insert-tags.de.md
Labels: Developer Documentation, User Manual

#342 Add guide on how to add assets for the back end (#50)
  docs/dev/guides/adding-back-end-assets.md
Labels: Developer Documentation

#345 some small fixes
  docs/dev/getting-started/content-elements-modules.md
  docs/dev/getting-started/extension.md
  docs/dev/getting-started/hooks.md
Labels: Developer Documentation

#347 Documented custom monolog handlers
  docs/dev/framework/manager-plugin.md
Labels: Developer Documentation

#348 Cookies zeigen altes Login im CM an - Workaround
  docs/manual/installation/contao-manager.de.md
Labels: User Manual

#349 Added an example for the tagResponse() method
  docs/dev/framework/caching.md
Labels: Developer Documentation

#353 Fix param type
  docs/dev/framework/content-elements.md
Labels: Developer Documentation
