Repository contao/docs, pull requests merged in 2020-12, with the labels that each got.

#633 Fix typo (not important)
  docs/dev/framework/image-processing/image-studio.md
Labels: Developer Documentation

#635 Added documentation for HttpCacheSubscriberPluginInterface
  docs/dev/framework/manager-plugin.md
Labels: Developer Documentation

#637 Fix typo
  docs/manual/installation/contao-manager.de.md
Labels: User Manual

#627 Review of english translation for user management
  docs/manual/user-management/_index.en.md
  docs/manual/user-management/images/en/access-rights-of-a-page.png
  docs/manual/user-management/images/en/activate-individual-input-fields.png
  docs/manual/user-management/images/en/filemanager-from-the-perspective-of-a-user.png
  docs/manual/user-management/images/en/filemounts-of-the-user.png
  docs/manual/user-management/images/en/site-structure-without-access-rights.png
  docs/manual/user-management/images/en/the-back-end-from-the-perspective-of-a-user.png
  docs/manual/user-management/members.de.md
  docs/manual/user-management/members.en.md
  docs/manual/user-management/users.de.md
  docs/manual/user-management/users.en.md
Labels: Translate, User Manual

#621 [RFC] Add version label
  docs/manual/layout/site-structure/configure-pages.de.md
  docs/manual/layout/site-structure/configure-pages.en.md
  page/layouts/shortcodes/version-tag.html
  page/static/css/theme-contao.css
Labels: Feature, User Manual

#608 Add additional informaton to TinyMCE
  docs/manual/guides/tinymce-configuration.de.md
Labels: User Manual

#630 Add documentation for contao.localconfig
  docs/manual/system/settings.de.md
  docs/manual/system/settings.en.md
Labels: User Manual

#639 Fix headline levels on update page
  docs/manual/installation/update-contao.de.md
  docs/manual/installation/update-contao.en.md
Labels: User Manual

#640 Add more version labels
  docs/manual/article-management/insert-tags.de.md
  docs/manual/article-management/insert-tags.en.md
Labels: User Manual
