Repository contao/docs, pull requests merged in 2020-08, with the labels that each got.

#490 Add deepl command
  .gitignore
  deepl/.php_cs.dist
  deepl/composer.json
  deepl/composer.lock
  deepl/deepl
  deepl/src/DeeplCommand.php
  deepl/src/FixupCommand.php
  deepl/src/TableConverter.php
Labels: Feature, User Manual

#501 Update settings.de.md - Cache leeren
  docs/manual/system/settings.de.md
Labels: User Manual

#495 Clarify redirect page for search module
  docs/manual/layout/module-management/website-search.de.md
Labels: User Manual

#417 Add a new Chapter FAQ
  docs/manual/faq/_index.de.md
Labels: Two Month Review, User Manual

#502 Fix metadata wording
  docs/dev/framework/dca/_index.md
  docs/dev/framework/image-processing/image-studio.md
  docs/dev/framework/search-indexing.md
Labels: Developer Documentation

#518 [Cleanup English] Performance chapter
  docs/manual/performance/_index.en.md
  docs/manual/performance/http-caching.de.md
  docs/manual/performance/http-caching.en.md
  docs/manual/performance/images/en/cache-settings.png
  docs/manual/performance/php-setup.en.md
Labels: User Manual

#519 Update en translation faq section
  docs/manual/faq/_index.de.md
  docs/manual/faq/_index.en.md
  docs/manual/system/debug-mode.en.md
Labels: User Manual

#532 Typo
  docs/manual/article-management/insert-tags.de.md
Labels: User Manual

#536 My pictures are not displayed
  docs/manual/faq/_index.en.md
Labels: User Manual

#522 English translation: guides
  docs/manual/guides/_index.en.md
  docs/manual/guides/add-first-index-page.en.md
  docs/manual/guides/grid-system.de.md
  docs/manual/guides/grid-system.en.md
  docs/manual/guides/images/de/grid/grid-struktur.jpg
  docs/manual/guides/images/de/install-version/contao-manager-versionseingabe.gif
  docs/manual/guides/images/en/first-page/configure-page-layout.png
  docs/manual/guides/images/en/first-page/content-type-text.png
  docs/manual/guides/images/en/first-page/edit-article.png
  docs/manual/guides/images/en/first-page/list-site-structur.png
  docs/manual/guides/images/en/first-page/list-site-structure-with-home-page.png
  docs/manual/guides/images/en/first-page/new-page-layout.png
  docs/manual/guides/images/en/first-page/new-theme.png
  docs/manual/guides/images/en/first-page/new-website-root.png
  docs/manual/guides/images/en/first-page/page-layout.png
  docs/manual/guides/images/en/first-page/position-page.png
  docs/manual/guides/images/en/first-page/publish-article.png
  docs/manual/guides/images/en/first-page/select-page-layout.png
  docs/manual/guides/images/en/grid/grid-structure.jpg
  docs/manual/guides/images/en/install-version/contao-manager-enter-custom-version.gif
  docs/manual/guides/images/en/mumble/mumble-audio-assistant-device-selection.jpg
  docs/manual/guides/images/en/mumble/mumble-audio-assistant-device-settings.jpg
  docs/manual/guides/images/en/mumble/mumble-audio-assistant-position-dependent-audio.jpg
  docs/manual/guides/images/en/mumble/mumble-audio-assistant-quality-info.jpg
  docs/manual/guides/images/en/mumble/mumble-audio-assistant-voice-activity.jpg
  docs/manual/guides/images/en/mumble/mumble-audio-assistant-volume-settings.jpg
  docs/manual/guides/images/en/mumble/mumble-audio-assistant.jpg
  docs/manual/guides/images/en/mumble/mumble-certificate-management.jpg
  docs/manual/guides/images/en/mumble/mumble-server-connect.jpg
  docs/manual/guides/images/en/mumble/mumble-server-select.jpg
  docs/manual/guides/images/en/mumble/mumble-status.jpg
  docs/manual/guides/install-test-versions.de.md
  docs/manual/guides/install-test-versions.en.md
  docs/manual/guides/local-installation/_index.en.md
  docs/manual/guides/local-installation/devilbox.en.md
  docs/manual/guides/local-installation/laragon.de.md
  docs/manual/guides/local-installation/laragon.en.md
  docs/manual/guides/mumble.en.md
  docs/manual/guides/sass-less-integration.en.md
  docs/manual/guides/svg.de.md
  docs/manual/guides/svg.en.md
  docs/manual/guides/tinymce-configuration.de.md
  docs/manual/guides/tinymce-configuration.en.md
Labels: User Manual

#537 Field options callback parameter can be null
  docs/dev/reference/dca/callbacks.md
Labels: Developer Documentation, User Manual

#539 Typo
  docs/manual/layout/site-structure/multi-domain-operation.de.md
Labels: User Manual

#538 Typo
  docs/manual/layout/site-structure/pages-as-central-elements.de.md
Labels: User Manual

#545 Zeichensetzung
  docs/manual/faq/_index.de.md
Labels: User Manual

#544 Add short info at top
  docs/manual/guides/mumble.de.md
  docs/manual/guides/mumble.en.md
Labels: User Manual

#546 Zeichensetzung
  docs/manual/guides/_index.de.md
Labels: User Manual

#547 Zeichensetzung
  docs/manual/performance/http-caching.de.md
Labels: User Manual

#550 Revise the system section (de and en)
  docs/manual/system/_index.de.md
  docs/manual/system/_index.en.md
  docs/manual/system/images/de/den-suchindex-automatisch-aufbauen.png
  docs/manual/system/images/en/purge-data-manually.png
  docs/manual/system/images/en/rebuild-the-search-index.png
  docs/manual/system/maintenance.de.md
  docs/manual/system/maintenance.en.md
Labels: User Manual

#473 Use correct template path
  docs/dev/framework/content-elements.md
Labels: Developer Documentation

#553 Add undocumented feature for link insert tag
  docs/manual/article-management/insert-tags.de.md
  docs/manual/article-management/insert-tags.en.md
Labels: User Manual

#524 EN Form Generator Guide Cleanup
  docs/manual/form-generator/_index.en.md
  docs/manual/form-generator/create-a-search-form.en.md
  docs/manual/form-generator/form-fields.en.md
  docs/manual/form-generator/forms.en.md
  docs/manual/form-generator/images/en/checkboxes-in-frontend.png
  docs/manual/form-generator/images/en/formfield-editor.png
  docs/manual/form-generator/images/en/radio-button-in-frontend.png
  docs/manual/form-generator/images/en/select-menu-in-frontend.png
  docs/manual/form-generator/images/en/select-options-wizard.png
Labels: User Manual
