Repository contao/docs, pull requests merged in 2020-07, with the labels that each got.

#453 Laragon Tutorial
  docs/manual/guides/local-installation/laragon.de.md
Labels: Two Month Review, User Manual

#457 small update
  docs/manual/guides/local-installation/laragon.de.md
Labels: User Manual

#458 small update
  docs/manual/guides/local-installation/laragon.de.md
Labels: User Manual

#459 Add help links
  docs/manual/guides/local-installation/laragon.de.md
Labels: User Manual

#460 Some minor improvements
  docs/manual/guides/local-installation/laragon.de.md
Labels: User Manual

#469 Fix typo in Asset Management
  docs/dev/framework/asset-management.md
Labels: Developer Documentation

#470 Correct purpose of getArticles hook
  docs/dev/reference/hooks/getArticles.md
Labels: Developer Documentation

#468 Image studio
  docs/dev/framework/image-processing/_index.md
  docs/dev/framework/image-processing/image-picture-factory.md
  docs/dev/framework/image-processing/image-studio.md
  docs/dev/framework/image-processing/legacy.md
Labels: Developer Documentation

#461 Do not use blacklist and whitelist
  docs/dev/reference/config.md
Labels: Developer Documentation

#474 SimpleTokenParser service
  docs/dev/reference/services.md
Labels: Developer Documentation

#391 Add format_date & convert_date insert tag
  docs/manual/article-management/insert-tags.de.md
Labels: User Manual

#465 Document new available symfony mailer configurations feature
  docs/manual/system/settings.de.md
Labels: User Manual

#479 Update _index.de.md
  docs/manual/layout/module-management/_index.de.md
Labels: User Manual

#480 Update navigation-modules.de.md
  docs/manual/layout/module-management/navigation-modules.de.md
Labels: User Manual

#482 Add isSortable and orderField
  docs/dev/reference/dca/fields.md
Labels: Developer Documentation

#481 Ammend date format insert tags
  docs/manual/article-management/insert-tags.de.md
Labels: User Manual

#483 Add csv_excel option
  docs/manual/form-generator/forms.de.md
Labels: User Manual

#485 Set variables to the same name
  docs/dev/framework/image-processing/image-picture-factory.md
Labels: Developer Documentation

#491 Add English system requirements
  docs/manual/installation/system-requirements.en.md
Labels: User Manual

#493 Update system requirements
  docs/manual/installation/system-requirements.de.md
  docs/manual/installation/system-requirements.en.md
Labels: User Manual

#494 Add installation intro
  docs/manual/installation/_index.en.md
Labels: User Manual

#488 Documented new env vars for Contao 4.10
  docs/dev/reference/config.md
Labels: Developer Documentation

#487 Foundation for HTTP Caching in Contao
  docs/manual/performance/http-caching.de.md
  docs/manual/performance/images/de/cache-einstellungen.png
  page/static/css/theme-contao.css
Labels: Two Month Review, User Manual

#497 Cache Tagging and duration recommendations
  docs/manual/performance/http-caching.de.md
Labels: User Manual

#500 Add resize images command
  docs/dev/reference/commands.md
Labels: Developer Documentation

#499 Added a hint about Contao's cache tagging framework abstraction
  docs/manual/performance/http-caching.de.md
Labels: User Manual
