Repository contao/docs, pull requests merged in 2021-03, with the labels that each got.

#675 correct path to console
  docs/dev/reference/commands.md
Labels: Developer Documentation

#674 Add comment for debug button in back-end
  docs/manual/system/debug-mode.de.md
  docs/manual/system/debug-mode.en.md
Labels: User Manual

#678 Add non-HTTPS CSRF cookie to example allow list
  docs/dev/reference/config.md
  docs/manual/performance/http-caching.de.md
  docs/manual/performance/http-caching.en.md
Labels: Developer Documentation, User Manual

#679 "rot_13" is not working
  docs/dev/framework/insert-tags.md
Labels: Developer Documentation

#681 Content composition is enabled by default
  docs/dev/framework/page-controllers.md
Labels: Developer Documentation

#683 Add monolog config documentation
  docs/dev/getting-started/initial-setup/symfony-application/contao-4.9.md
Labels: Developer Documentation

#689 Open search
  page/config/_default/config.yml
  page/layouts/index.opensearchxml.xml
  page/layouts/partials/custom-footer.html
  page/layouts/partials/custom-header.html
Labels: Developer Documentation, User Manual

#638 Rewrite tag based cache invalidation chapter
  docs/dev/framework/caching.md
Labels: Developer Documentation

#694 Update callbacks - missing serp preview eval.url, eval.title_tag
  docs/dev/reference/dca/callbacks.md
Labels: Developer Documentation

#700 Add examples for list label callback
  docs/dev/reference/dca/callbacks.md
Labels: Developer Documentation
