Repository contao/docs, pull requests merged in 2021-09, with the labels that each got.

#815 Update system-requirements.en.md
  docs/manual/installation/system-requirements.en.md
Labels: User Manual

#814 Update system-requirements.de.md
  docs/manual/installation/system-requirements.de.md
Labels: User Manual

#804 Improvements for the Twig section
  docs/dev/framework/templates/twig.md
Labels: Developer Documentation

#824 Add GitHub Fork "Fetch upstream" info
  docs/manual/contributing/_index.de.md
  docs/manual/contributing/_index.en.md
  docs/manual/contributing/images/de/github-fork-fetch-upstream.png
Labels: User Manual

#828 Add information about predefined image sizes
  docs/manual/article-management/insert-tags.de.md
  docs/manual/article-management/insert-tags.en.md
Labels: User Manual

#826 Update FAQ - CM
  docs/manual/faq/_index.de.md
  docs/manual/faq/_index.en.md
Labels: User Manual

#829 Add a warning to the CM base configuration
  docs/manual/installation/contao-manager.de.md
  docs/manual/installation/contao-manager.en.md
Labels: User Manual

#784 Documented the new ResponseContext introduced in 4.12
  docs/dev/framework/response-context.md
Labels: Developer Documentation

#833 The document root is changed from web to public
  docs/manual/installation/contao-manager.de.md
  docs/manual/installation/contao-manager.en.md
  docs/manual/installation/install-contao.de.md
  docs/manual/installation/install-contao.en.md
  docs/manual/installation/system-requirements.de.md
  docs/manual/installation/system-requirements.en.md
Labels: User Manual

#822 Update XML-Sitemap
  docs/manual/layout/site-structure/configure-pages.de.md
Labels: User Manual

#830 Document new website settings
  docs/manual/layout/site-structure/configure-pages.de.md
  docs/manual/layout/site-structure/configure-pages.en.md
Labels: User Manual

#781 Guide - Handling/Saving Form Data with Core Tools or Leads Extension
  docs/manual/guides/form-save.de.md
  docs/manual/guides/form-save.en.md
Labels: User Manual, Two Month Review

#835 PR-Guide-Grid-Intro
  docs/manual/guides/grid-system.de.md
  docs/manual/guides/grid-system.en.md
Labels: User Manual

#841 Simplify + optimize code example / 'handling/saving form data' section
  docs/manual/guides/form-save.de.md
Labels: User Manual
