Repository contao/docs, pull requests merged in 2021-04, with the labels that each got.

#708 Examples and text adjusted
  docs/dev/framework/image-processing/image-sizes.md
Labels: Developer Documentation

#691 Add OpenSearch Info
  docs/manual/_index.de.md
  docs/manual/_index.en.md
Labels: User Manual

#697 nested insert tags documented
  docs/manual/article-management/insert-tags.de.md
Labels: User Manual

#704 Back end attributes are automatically prefixed with data
  docs/manual/system/settings.de.md
  docs/manual/system/settings.en.md
Labels: User Manual

#709 Add note manual position
  docs/manual/layout/theme-manager/manage-page-layouts.de.md
Labels: User Manual

#710 Update _index.en.md
  docs/manual/introduction/_index.en.md
Labels: User Manual

#713 Typo in "Verschachtelte Insert-Tags"
  docs/manual/article-management/insert-tags.de.md
Labels: User Manual

#711 Human re-write of machine translated
  docs/manual/introduction/contao-open-source-cms.en.md
Labels: User Manual

#566 Add custom rgxp
  docs/dev/reference/dca/fields.md
  docs/manual/form-generator/form-fields.de.md
  docs/manual/form-generator/form-fields.en.md
Labels: Developer Documentation, User Manual

#695 Initial Guide XAMPP (DE)
  docs/manual/guides/local-installation/xampp.de.md
  docs/manual/guides/local-installation/xampp.en.md
Labels: Two Month Review, User Manual

#567 Added contributing
  docs/manual/contributing/_index.de.md
  docs/manual/contributing/images/de/branch-und-commit-erzeugen.png
  docs/manual/contributing/images/de/comparing-changes.png
  docs/manual/contributing/images/de/create-pull-request.png
  docs/manual/contributing/images/de/diese-seite-bearbeiten.png
  docs/manual/contributing/images/de/fork-this-repository.png
  docs/manual/contributing/images/de/github-message.png
  docs/manual/contributing/images/de/inhalt-bearbeiten.png
  docs/manual/contributing/images/de/open-a-pull-request.png
Labels: Two Month Review, User Manual

#715 Add make alternative
  docs/manual/contributing/_index.de.md
Labels: User Manual

#714 Contributing en
  docs/manual/contributing/_index.en.md
Labels: User Manual

#716 Update _index.de.md
  docs/manual/contributing/_index.de.md
Labels: User Manual
