Repository contao/docs, pull requests merged in 2021-02, with the labels that each got.

#653 Update http-caching.de.md
  docs/manual/performance/http-caching.de.md
Labels: User Manual

#629 Add info about page model in fragments and page controllers
  docs/dev/framework/page-controllers.md
  docs/dev/framework/routing.md
Labels: Developer Documentation

#619 Add answer if CM has hung up
  docs/manual/installation/contao-manager.de.md
Labels: User Manual

#659 Update callbacks, missing select.buttons
  docs/dev/reference/dca/callbacks.md
Labels: Developer Documentation

#580 Update the minimum PHP version for Contao 4.11
  docs/manual/installation/system-requirements.de.md
  docs/manual/installation/system-requirements.en.md
Labels: User Manual

#642 Extend back end config
  docs/dev/guides/adding-back-end-assets.md
  docs/manual/system/settings.de.md
  docs/manual/system/settings.en.md
Labels: Developer Documentation, User Manual

#662 Update devilbox.de.md
  docs/manual/guides/local-installation/devilbox.de.md
Labels: User Manual

#655 Wartungstemplate Guide
  docs/manual/guides/images/de/maintenance/wartungsmodus.jpg
  docs/manual/guides/maintenance-template.de.md
Labels: Two Month Review, User Manual

#664 Clarify back end keyboard shortcuts
  docs/manual/administration-area/back-end-keyboard-shortcuts.de.md
  docs/manual/administration-area/back-end-keyboard-shortcuts.en.md
Labels: User Manual

#665 Update back-end-keyboard-shortcuts.de.md
  docs/manual/administration-area/back-end-keyboard-shortcuts.de.md
Labels: User Manual

#666 Link to Devilbox documentation for Docker and Docker Compose installation
  docs/manual/guides/local-installation/devilbox.de.md
  docs/manual/guides/local-installation/devilbox.en.md
Labels: User Manual

#668 Formatierung korrigiert
  docs/manual/guides/maintenance-template.de.md
Labels: User Manual

#670 Update installation instructions for 4.9
  docs/dev/getting-started/initial-setup/symfony-application/contao-4.9.md
Labels: Developer Documentation

#671 Add a note when using PHP 8
  docs/dev/getting-started/initial-setup/symfony-application/contao-4.9.md
Labels: Developer Documentation
