Repository contao/docs, pull requests merged in 2022-01, with the labels that each got.

#921 A new approach for #880 that had to be reverted
  page/static/css/theme-contao.css
Labels: Bug

#922 Add the "release procedure" article and explain @experimental tags
  docs/dev/internals/bc-promise.md
  docs/dev/internals/issue-workflow.md
  docs/dev/internals/release-procedure.md
Labels: Developer Documentation

#925 Update settings.de.md
  docs/manual/system/settings.de.md
Labels: User Manual

#926 Document asynchronous emails
  docs/manual/system/settings.de.md
  docs/manual/system/settings.en.md
Labels: User Manual

#927 Update settings.de.md
  docs/manual/system/settings.de.md
Labels: User Manual

#928 Update settings.en.md
  docs/manual/system/settings.en.md
Labels: User Manual

#916 Update _index.de.md
  docs/manual/_index.de.md
Labels: User Manual

#930 Wording improvement
  docs/manual/user-management/users.de.md
Labels: User Manual

#929 Add SendNewsletterEvent
  docs/dev/reference/events.md
  docs/dev/reference/hooks/sendNewsletter.md
Labels: Developer Documentation

#888 Document DCA eval option collapseUncheckedGroups
  docs/dev/reference/dca/fields.md
Labels: Developer Documentation

#938 Document canonical URL
  docs/manual/layout/site-structure/configure-pages.de.md
  docs/manual/layout/site-structure/configure-pages.en.md
Labels: User Manual

#918 Update content element markdown
  docs/manual/article-management/content-elements.de.md
  docs/manual/article-management/content-elements.en.md
Labels: User Manual

#911 Add overview for content elements
  docs/manual/article-management/content-elements.de.md
  docs/manual/article-management/content-elements.en.md
Labels: User Manual

#901 Add example for security
  docs/manual/system/images/de/security-settings-de.png
  docs/manual/system/images/de/sicherheitseinstellungen.jpg
  docs/manual/system/images/en/security-settings-en.png
  docs/manual/system/settings.de.md
Labels: User Manual

#936 Document layout inheritance
  docs/manual/layout/site-structure/configure-pages.de.md
  docs/manual/layout/site-structure/configure-pages.en.md
Labels: User Manual

#941 Add hint for dca mode constants and update note concerning child_record callback
  docs/dev/reference/dca/list.md
Labels: Developer Documentation

#942 Document allow creating nested folders in filemanager
  docs/manual/file-manager/_index.de.md
  docs/manual/file-manager/_index.en.md
Labels: User Manual

#947 Fix typo
  docs/dev/framework/content-elements.md
Labels: Developer Documentation

#950 Fixed anchor-links to installation page
  docs/manual/installation/move-contao.de.md
Labels: User Manual

#943 Navigation changes within content elements
  docs/manual/article-management/content-elements.de.md
  docs/manual/article-management/content-elements.en.md
  docs/manual/article-management/content-elements/_index.de.md
  docs/manual/article-management/content-elements/_index.en.md
  docs/manual/article-management/content-elements/accordion.de.md
  docs/manual/article-management/content-elements/accordion.en.md
  docs/manual/article-management/content-elements/content-slider.de.md
  docs/manual/article-management/content-elements/content-slider.en.md
  docs/manual/article-management/content-elements/file-elements.de.md
  docs/manual/article-management/content-elements/file-elements.en.md
  docs/manual/article-management/content-elements/include-elements.de.md
  docs/manual/article-management/content-elements/include-elements.en.md
  docs/manual/article-management/content-elements/link-elements.de.md
  docs/manual/article-management/content-elements/link-elements.en.md
  docs/manual/article-management/content-elements/media-elements.de.md
  docs/manual/article-management/content-elements/media-elements.en.md
  docs/manual/article-management/content-elements/text-elements.de.md
  docs/manual/article-management/content-elements/text-elements.en.md
Labels: User Manual

#912 Add new content element "Custom template"
  docs/manual/article-management/content-elements/include-elements.de.md
  docs/manual/article-management/content-elements/include-elements.en.md
Labels: User Manual

#951 Documented 4.13 database backups
  docs/manual/cli/_index.de.md
  docs/manual/cli/_index.en.md
  docs/manual/cli/db-backups.de.md
  docs/manual/cli/db-backups.en.md
Labels: User Manual

#953 Document 4.13 maintenance mode
  docs/manual/layout/site-structure/configure-pages.de.md
  docs/manual/layout/site-structure/configure-pages.en.md
  docs/manual/layout/site-structure/pages-as-central-elements.de.md
  docs/manual/layout/site-structure/pages-as-central-elements.en.md
Labels: User Manual

#873 Add note about route prefix
  docs/dev/guides/back-end-routes.md
  docs/manual/system/settings.de.md
  docs/manual/system/settings.en.md
Labels: Developer Documentation, User Manual

#952 Document logging via Monolog
  docs/dev/framework/logging.md
Labels: Developer Documentation

#897 Update dca-adjustments.de.md
  docs/manual/guides/dca-adjustments.de.md
Labels: User Manual

#958 Fix format: module - custom template
  docs/manual/layout/module-management/miscellaneous.de.md
  docs/manual/layout/module-management/miscellaneous.en.md
Labels: User Manual

#955 Add strict mode info to the faq
  docs/manual/faq/_index.de.md
  docs/manual/faq/_index.en.md
Labels: User Manual

#957 Documented experimental features
  docs/dev/internals/bc-promise.md
  docs/dev/internals/experimental-features.md
Labels: Developer Documentation

#960 Clarify installation of specific ME version on CLI
  docs/dev/getting-started/initial-setup/_index.md
Labels: Developer Documentation

#959 Add a page about coding standards
  docs/dev/guides/coding-standards.md
Labels: Developer Documentation

#966 Fix the coding standards
  docs/dev/guides/coding-standards.md
Labels: Developer Documentation

#975 Add contao.sitemap event
  docs/dev/reference/events.md
  docs/dev/reference/hooks/getSearchablePages.md
Labels: Developer Documentation

#962 Add cli command contao:automator
  docs/manual/cli/automator.de.md
  docs/manual/cli/automator.en.md
Labels: User Manual

#963 Add cli command contao:crawl
  docs/manual/cli/crawl.de.md
  docs/manual/cli/crawl.en.md
Labels: User Manual

#964 Add cli command contao:migrate
  docs/manual/cli/migrate.de.md
  docs/manual/cli/migrate.en.md
Labels: User Manual

#965 Add cli command contao:resize-images
  docs/manual/cli/resize-images.de.md
  docs/manual/cli/resize-images.en.md
Labels: User Manual

#977 Updated core team
  docs/dev/_index.md
Labels: Developer Documentation

#961 Hint about CompilerPass in ExtensionPluginInterface
  docs/dev/framework/manager-plugin.md
  docs/dev/guides/modify-container-at-compile-time.md
Labels: Developer Documentation
