Repository contao/docs, pull requests merged in 2022-12, with the labels that each got.

#1104 form_session_data deutsch
  docs/manual/article-management/insert-tags.de.md
Labels: User Manual

#1106 Add web server configuration
  docs/manual/installation/system-requirements.de.md
  docs/manual/installation/system-requirements.en.md
Labels: User Manual

#1094 Add description for license URL
  docs/manual/file-manager/images/de/pflegen-der-metadaten.png
  docs/manual/file-manager/images/en/maintaining_the_metadata.jpg
  docs/manual/file-manager/meta-data.de.md
  docs/manual/file-manager/meta-data.en.md
Labels: User Manual

#1067 Move Environment variables infos to manual
  docs/manual/system/settings.de.md
  docs/manual/system/settings.en.md
Labels: User Manual

#1035 Simple tokens added
  docs/manual/article-management/simple-tokens.de.md
Labels: User Manual

#1107 Improved documentation for Simple Tokens
  docs/manual/article-management/simple-tokens.de.md
  docs/manual/article-management/simple-tokens.en.md
Labels: User Manual

#1051 Add information about "Click to edit"
  docs/manual/administration-area/back-end-keyboard-shortcuts.de.md
  docs/manual/administration-area/back-end-keyboard-shortcuts.en.md
Labels: User Manual

#1097 Update insert-tags country
  docs/manual/article-management/insert-tags.de.md
Labels: User Manual

#1071 Update Deployer guide
  docs/manual/guides/deployer.de.md
  docs/manual/guides/deployer.en.md
Labels: User Manual

#1108 Link to simple-tokens in newsletter page
  docs/manual/core-extensions/newsletter/newsletter-management.de.md
Labels: User Manual

#1112 Update cron jobs regarding attributes and Contao 5
  docs/dev/framework/cron.md
  docs/dev/framework/hooks.md
  docs/manual/extensions/news-facebook-sync.de.md
  docs/manual/extensions/news-facebook-sync.en.md
Labels: Developer Documentation, User Manual

#1114 Document the onbeforesubmit_callback
  docs/dev/reference/dca/callbacks.md
Labels: Developer Documentation

#1116 Added cronjobs to the performance chapter
  docs/manual/performance/cronjobs.de.md
  docs/manual/performance/cronjobs.en.md
Labels: User Manual
