Repository contao/docs, pull requests merged in 2022-05, with the labels that each got.

#1036 Update content-elements-modules.md
  docs/dev/getting-started/content-elements-modules.md
Labels: Developer Documentation

#1038 Add select widget with examples
  docs/dev/reference/widgets/images/select-chosen.png
  docs/dev/reference/widgets/images/select-grouped-chosen.png
  docs/dev/reference/widgets/images/select.png
  docs/dev/reference/widgets/select.md
Labels: Developer Documentation

#868 Note on the folder structure for annotations
  docs/dev/framework/hooks.md
Labels: Developer Documentation

#988 list.sorting.paste_button callback fix function argument type hints
  docs/dev/reference/dca/callbacks.md
Labels: Developer Documentation

#992 Document request token related changes
  docs/dev/framework/request-tokens.md
  docs/manual/article-management/insert-tags.de.md
  docs/manual/article-management/insert-tags.en.md
Labels: Developer Documentation, User Manual

#1040 Add picker widget
  docs/dev/reference/dca/fields.md
  docs/dev/reference/widgets/images/picker_content_element.png
  docs/dev/reference/widgets/images/picker_news.png
  docs/dev/reference/widgets/picker.md
Labels: Developer Documentation

#1041 Add checkboxWizard documentation
  docs/dev/reference/dca/fields.md
  docs/dev/reference/widgets/checkbox-wizard.md
Labels: Developer Documentation

#1042 Replace absolute flag with attribute
  docs/manual/article-management/insert-tags.de.md
Labels: User Manual

#1043 Replace absolute flag with attribute
  docs/manual/article-management/insert-tags.de.md
  docs/manual/article-management/insert-tags.en.md
Labels: User Manual
