Repository contao/docs, pull requests merged in 2022-11, with the labels that each got.

#1092 Add ext-fileinfo to system requirements
  docs/manual/installation/system-requirements.de.md
  docs/manual/installation/system-requirements.en.md
Labels: User Manual

#1095 Add findCalendarBoundaries hook
  docs/dev/reference/hooks/findCalendarBoundaries.md
Labels: Developer Documentation

#1101 Add contao.sanitizer config
  docs/dev/reference/config.md
  docs/manual/system/settings.de.md
  docs/manual/system/settings.en.md
Labels: Developer Documentation, User Manual
