Repository contao/docs, pull requests merged in 2022-04, with the labels that each got.

#1032 Fix "In your application" example for the virtual filesystem
  docs/dev/framework/filesystem/config.md
Labels: Developer Documentation

#1031 Update dca.md
  docs/dev/guides/dca.md
Labels: Developer Documentation

#1037 Update configure-pages.de.md
  docs/manual/layout/site-structure/configure-pages.de.md
Labels: User Manual

#1034 Make the access key documentation browser-aware
  docs/manual/administration-area/back-end-keyboard-shortcuts.de.md
  docs/manual/administration-area/back-end-keyboard-shortcuts.en.md
  page/layouts/partials/custom-header.html
  page/layouts/shortcodes/accesskey.html
  page/static/js/browser.js
Labels: User Manual, Feature
