Repository contao/docs, pull requests merged in 2023-11, with the labels that each got.

#1245 Add info about URL generation for pages
  docs/dev/framework/page-controllers.md
Labels: Developer Documentation

#1254 Update CM screenshots
  docs/manual/installation/quickstart.de.md
  docs/manual/installation/quickstart.en.md
  page/assets/images/manual/installation/de/contao-per-contao-manager-installieren.png
  page/assets/images/manual/installation/de/serverkonfiguration.png
  page/assets/images/manual/installation/de/willkommensseite-des-contao-managers.png
  page/assets/images/manual/installation/en/contao-manager-setup.png
  page/assets/images/manual/installation/en/server-configuration.png
  page/assets/images/manual/installation/en/welcomepage-contao-manager.png
Labels: User Manual

#1260 Documented how you can speed up the crawler process
  docs/manual/system/maintenance.de.md
  docs/manual/system/maintenance.en.md
Labels: User Manual

#1263 Fixing typos
  docs/dev/framework/caching.md
  docs/dev/framework/content-elements.md
  docs/dev/framework/front-end-modules.md
  docs/dev/framework/routing.md
  docs/dev/framework/security.md
  docs/dev/framework/translations.md
  docs/dev/internals/contao-manager-api.md
  docs/dev/reference/dca/callbacks.md
  docs/manual/contributing/_index.de.md
  docs/manual/migration/_index.en.md
Labels: Developer Documentation, User Manual

#1262 Fix headline
  docs/manual/form-generator/form-fields.de.md
Labels: User Manual

#1264 Bump hugo to version v120.4
  .github/workflows/build_and_deploy.yaml
  .github/workflows/link_checker.yaml
  Makefile
  docs/dev/framework/page-controllers.md
  page/config/_default/hugo.yml
  page/config/manual/languages.yml
  page/layouts/shortcodes/taxonomylist.html
Labels: Developer Documentation

#1268 Use a description of cronjobs that works independent of the versions
  docs/dev/framework/cron.md
Labels: Developer Documentation
