Repository contao/docs, pull requests merged in 2023-03, with the labels that each got.

#1152 Fix typo
  docs/dev/getting-started/core-concepts.md
  docs/manual/introduction/contao-open-source-cms.en.md
  docs/manual/introduction/contao-quickstart.en.md
Labels: Developer Documentation, User Manual

#1146 Document new operation mechanics
  docs/dev/framework/security.md
  docs/dev/reference/dca/list.md
Labels: Developer Documentation

#1155 Describe the "toggle" field config value
  docs/dev/reference/dca/fields.md
Labels: Developer Documentation

#1156 Document the textarea widget
  docs/dev/framework/page-controllers.md
  docs/dev/reference/dca/fields.md
  docs/dev/reference/dca/images/help-wizard.svg
  docs/dev/reference/widgets/checkbox.md
  docs/dev/reference/widgets/file-tree.md
  docs/dev/reference/widgets/images/ace.png
  docs/dev/reference/widgets/images/textarea.png
  docs/dev/reference/widgets/images/tinymce.png
  docs/dev/reference/widgets/picker.md
  docs/dev/reference/widgets/select.md
  docs/dev/reference/widgets/textarea.md
Labels: Developer Documentation

#1162 Fix typo in asset component package name to snake case
  docs/dev/framework/asset-management.md
Labels: Developer Documentation

#1163 Fix wrong method usage in Response Context docs
  docs/dev/framework/response-context.md
Labels: Developer Documentation

#1164 Document time period widget
  docs/dev/reference/widgets/images/time_period.png
  docs/dev/reference/widgets/time-period.md
Labels: Developer Documentation

#1165 Add ddev local installation howto
  docs/manual/guides/local-installation/ddev.de.md
  docs/manual/guides/local-installation/ddev.en.md
Labels: User Manual

#1140 Update tinymce-configuration.de.md
  docs/manual/guides/tinymce-configuration.de.md
Labels: User Manual

#1168 Add Information about database
  docs/manual/guides/local-installation/ddev.de.md
Labels: User Manual

#1170 Add no index at debug mode
  docs/manual/layout/module-management/website-search.de.md
Labels: User Manual

#1172 Update fields.md
  docs/dev/reference/dca/fields.md
Labels: Developer Documentation
