Repository contao/docs, pull requests merged in 2024-02, with the labels that each got.

#1307 Revised site structure
  docs/manual/guides/add-first-index-page.en.md
  docs/manual/layout/site-structure/_index.en.md
  docs/manual/layout/site-structure/configure-pages.de.md
  docs/manual/layout/site-structure/configure-pages.en.md
  docs/manual/layout/site-structure/pages-as-central-elements.de.md
  docs/manual/layout/site-structure/pages-as-central-elements.en.md
  docs/manual/site-structure/_index.de.md
  docs/manual/site-structure/_index.en.md
  docs/manual/site-structure/multi-domain-operation.de.md
  docs/manual/site-structure/multi-domain-operation.en.md
  docs/manual/site-structure/multilingual-websites.de.md
  docs/manual/site-structure/multilingual-websites.en.md
  docs/manual/site-structure/pages-as-central-elements/_index.de.md
  docs/manual/site-structure/pages-as-central-elements/_index.en.md
  docs/manual/site-structure/pages-as-central-elements/access-denied.de.md
  docs/manual/site-structure/pages-as-central-elements/access-denied.en.md
  docs/manual/site-structure/pages-as-central-elements/external-redirect.de.md
  docs/manual/site-structure/pages-as-central-elements/external-redirect.en.md
  docs/manual/site-structure/pages-as-central-elements/internal-redirect.de.md
  docs/manual/site-structure/pages-as-central-elements/internal-redirect.en.md
  docs/manual/site-structure/pages-as-central-elements/logout.de.md
  docs/manual/site-structure/pages-as-central-elements/logout.en.md
  docs/manual/site-structure/pages-as-central-elements/news-feed.de.md
  docs/manual/site-structure/pages-as-central-elements/news-feed.en.md
  docs/manual/site-structure/pages-as-central-elements/not-authenticated.de.md
  docs/manual/site-structure/pages-as-central-elements/not-authenticated.en.md
  docs/manual/site-structure/pages-as-central-elements/page-not-found.de.md
  docs/manual/site-structure/pages-as-central-elements/page-not-found.en.md
  docs/manual/site-structure/pages-as-central-elements/regular-page.de.md
  docs/manual/site-structure/pages-as-central-elements/regular-page.en.md
  docs/manual/site-structure/pages-as-central-elements/service-unavailable.de.md
  docs/manual/site-structure/pages-as-central-elements/service-unavailable.en.md
  docs/manual/site-structure/pages-as-central-elements/website-root.de.md
  docs/manual/site-structure/pages-as-central-elements/website-root.en.md
Labels: User Manual

#1304 Add description list and revision of all content elements
  docs/manual/article-management/content-elements/text-elements.de.md
  docs/manual/article-management/content-elements/text-elements.en.md
  page/assets/images/manual/article-management/de/beschreibungsliste.png
  page/assets/images/manual/article-management/en/description-list.png
Labels: User Manual

#1313 Use version tag more consistently
  docs/dev/framework/caching.md
  docs/dev/framework/manager-plugin.md
  docs/dev/framework/page-controllers.md
  docs/dev/framework/request-tokens.md
  docs/dev/framework/security.md
  docs/dev/guides/fragment-controllers.md
  docs/dev/reference/dca/fields.md
  docs/dev/reference/dca/list.md
  docs/manual/installation/system-requirements.de.md
  docs/manual/installation/system-requirements.en.md
Labels: Developer Documentation, User Manual

#1310 Documented automated global_operations
  docs/dev/reference/dca/list.md
Labels: Developer Documentation

#1315 Documented DISABLE_HTTP_CACHE
  docs/dev/reference/config.md
Labels: Developer Documentation

#1308 Update module-listing.de.md
  docs/manual/guides/module-listing.de.md
  docs/manual/guides/module-listing.en.md
Labels: User Manual

#1302 Deprecation of {{link::back}} and correct a small typo.
  docs/manual/article-management/insert-tags.en.md
Labels: User Manual

#1286 Change phpmyadmin text paragraph to new ddev version 1.22.0 ddev.de.md
  docs/manual/guides/local-installation/ddev.de.md
Labels: User Manual

#1238 Update template-data.de.md
  docs/manual/layout/templates/php/template-data.de.md
Labels: User Manual

#1318 Added information for the maintenance mode #1103
  docs/manual/cli/maintenance-mode.de.md
  docs/manual/cli/maintenance-mode.en.md
  docs/manual/system/maintenance.de.md
  docs/manual/system/maintenance.en.md
Labels: User Manual

#1277 Customization of the Contao Demo
  docs/manual/guides/contao-demo.de.md
  docs/manual/guides/contao-demo.en.md
Labels: User Manual

#1324 Typo fix - guide demo
  docs/manual/guides/contao-demo.de.md
Labels: User Manual

#1323 Page selection for forgot passwort and revision of user modules
  docs/manual/layout/module-management/user-modules.de.md
  docs/manual/layout/module-management/user-modules.en.md
Labels: User Manual

#1326 Update screenshots & links (Contao Demo)
  docs/manual/layout/theme-manager/manage-themes.de.md
  docs/manual/layout/theme-manager/manage-themes.en.md
  page/assets/images/manual/layout/theme-manager/de/contao-official-demo.png
  page/assets/images/manual/layout/theme-manager/de/navigationssymbole-im-theme-manager.png
  page/assets/images/manual/layout/theme-manager/en/contao-official-demo.png
  page/assets/images/manual/layout/theme-manager/en/navigation-icons-in-the-theme-manager.png
Labels: User Manual

#1317 Add canonical url and revision of news and calendar
  docs/manual/core-extensions/calendar/calendar-management.de.md
  docs/manual/core-extensions/calendar/calendar-management.en.md
  docs/manual/core-extensions/calendar/frontend-modules.de.md
  docs/manual/core-extensions/calendar/frontend-modules.en.md
  docs/manual/core-extensions/comments.de.md
  docs/manual/core-extensions/comments.en.md
  docs/manual/core-extensions/listing.de.md
  docs/manual/core-extensions/listing.en.md
  docs/manual/core-extensions/news/frontend-modules.de.md
  docs/manual/core-extensions/news/frontend-modules.en.md
  docs/manual/core-extensions/news/news-management.de.md
  docs/manual/core-extensions/news/news-management.en.md
  page/assets/icons/children.svg
  page/assets/images/manual/core-extensions/calendar/de/das-mini-kalender-modul-im-frontend.png
  page/assets/images/manual/core-extensions/calendar/de/das-standard-kalender-modul-im-frontend.png
  page/assets/images/manual/core-extensions/calendar/de/einem-beitrag-ein-bild-hinzufuegen.png
  page/assets/images/manual/core-extensions/calendar/en/add-an-image-to-a-post.png
  page/assets/images/manual/core-extensions/calendar/en/the-default-calendar-module-in-the-frontend.png
  page/assets/images/manual/core-extensions/calendar/en/the-mini-calendar-module-in-the-frontend.png
  page/assets/images/manual/core-extensions/news/de/einem-beitrag-ein-bild-hinzufuegen.png
  page/assets/images/manual/core-extensions/news/en/add-an-image-to-a-post.png
  page/assets/images/manual/layout/site-structure/de/google-suchergebnis-vorschau.png
  page/assets/images/manual/layout/site-structure/en/google-search-results-preview.png
Labels: User Manual

#1321 Added Google search results preview
  docs/manual/site-structure/pages-as-central-elements/regular-page.de.md
  docs/manual/site-structure/pages-as-central-elements/regular-page.en.md
Labels: User Manual

#1325 New mail_responsive template and revision of newsletter bundle
  docs/manual/core-extensions/newsletter/newsletter-management.de.md
  docs/manual/core-extensions/newsletter/newsletter-management.en.md
  page/assets/images/manual/core-extensions/newsletter/en/activate_recipient.png
Labels: User Manual

#1327 Added nested content elements
  docs/manual/article-management/content-elements/_index.de.md
  docs/manual/article-management/content-elements/_index.en.md
  docs/manual/article-management/content-elements/accordion.de.md
  docs/manual/article-management/content-elements/accordion.en.md
  docs/manual/article-management/content-elements/content-slider.de.md
  docs/manual/article-management/content-elements/content-slider.en.md
  docs/manual/article-management/content-elements/file-elements.de.md
  docs/manual/article-management/content-elements/file-elements.en.md
  docs/manual/article-management/content-elements/include-elements.de.md
  docs/manual/article-management/content-elements/include-elements.en.md
  docs/manual/article-management/content-elements/legacy-elements.de.md
  docs/manual/article-management/content-elements/legacy-elements.en.md
  docs/manual/article-management/content-elements/link-elements.de.md
  docs/manual/article-management/content-elements/link-elements.en.md
  docs/manual/article-management/content-elements/media-elements.de.md
  docs/manual/article-management/content-elements/media-elements.en.md
  docs/manual/article-management/content-elements/miscellaneous.de.md
  docs/manual/article-management/content-elements/miscellaneous.en.md
  docs/manual/article-management/content-elements/text-elements.de.md
  docs/manual/article-management/content-elements/text-elements.en.md
  page/assets/images/manual/article-management/de/akkordeon.png
  page/assets/images/manual/article-management/de/content-slider.png
  page/assets/images/manual/article-management/de/den-zugriff-auf-ein-modul-einschraenken.png
  page/assets/images/manual/article-management/de/die-verschachtelten-inhaltselemente-sind-da.png
  page/assets/images/manual/article-management/de/die-zeit-vor-den-verschachtelten-elementen.png
  page/assets/images/manual/article-management/de/ein-bildelement-anlegen.png
  page/assets/images/manual/article-management/de/einem-text-ein-bild-hinzufuegen.png
  page/assets/images/manual/article-management/en/accordion.png
  page/assets/images/manual/article-management/en/add-an-image-to-a-text.png
  page/assets/images/manual/article-management/en/content-slider.png
  page/assets/images/manual/article-management/en/create-an-imageelement.png
  page/assets/images/manual/article-management/en/restrict-access-to-a-module.png
  page/assets/images/manual/article-management/en/the-nested-content-elements-are-here.png
  page/assets/images/manual/article-management/en/the-time-before-the-nested-elements.png
Labels: User Manual

#1329 Reworked nested content elements
  docs/manual/article-management/content-elements/_index.de.md
  docs/manual/article-management/content-elements/_index.en.md
  docs/manual/article-management/content-elements/miscellaneous.de.md
  docs/manual/article-management/content-elements/miscellaneous.en.md
Labels: User Manual

#1332 Permissions
  docs/manual/user-management/users.de.md
  docs/manual/user-management/users.en.md
Labels: User Manual

#1333 Fix OptIn example (strlen($prefix) > 6 not allowed)
  docs/dev/reference/services.md
Labels: Developer Documentation

#1334 Sticky tab navigation list and picker
  docs/manual/administration-area/accessing-and-structure-of-the-backend.de.md
  docs/manual/administration-area/accessing-and-structure-of-the-backend.en.md
  docs/manual/administration-area/edit-data-records.de.md
  docs/manual/administration-area/edit-data-records.en.md
  docs/manual/administration-area/list-data-records.de.md
  docs/manual/administration-area/list-data-records.en.md
  page/assets/icons/color_scheme.svg
  page/assets/icons/favorite.svg
  page/assets/icons/manual.svg
  page/assets/icons/profile_small.svg
  page/assets/icons/shield_small.svg
  page/assets/images/manual/administration-area/de/aufbau-des-backends.png
  page/assets/images/manual/administration-area/de/bildgroesse-bearbeiten.png
  page/assets/images/manual/administration-area/de/der-arbeitsbereich.png
  page/assets/images/manual/administration-area/de/der-infobereich.png
  page/assets/images/manual/administration-area/de/der-navigationsbereich.png
  page/assets/images/manual/administration-area/de/die-sticky-tab-navigationsliste.png
  page/assets/images/manual/administration-area/de/dunkles-design.png
  page/assets/images/manual/administration-area/de/einen-loeschvorgang-rueckgaengig-machen.png
  page/assets/images/manual/administration-area/de/favoriten.png
  page/assets/images/manual/administration-area/de/hinweise.png
  page/assets/images/manual/administration-area/de/link-einfuegen-bzw-bearbeiten.png
  page/assets/images/manual/administration-area/de/quellelement-bearbeiten.png
  page/assets/images/manual/administration-area/de/weiterleitungsziel-bearbeiten.png
  page/assets/images/manual/administration-area/en/dark-mode.png
  page/assets/images/manual/administration-area/en/edit-redirect-target.png
  page/assets/images/manual/administration-area/en/edit-source-element.png
  page/assets/images/manual/administration-area/en/edit-the-image-size.png
  page/assets/images/manual/administration-area/en/favorites.png
  page/assets/images/manual/administration-area/en/insert-or-edit-link.png
  page/assets/images/manual/administration-area/en/notes.png
  page/assets/images/manual/administration-area/en/restore-deleted-records.png
  page/assets/images/manual/administration-area/en/structure-of-the-back-end.png
  page/assets/images/manual/administration-area/en/the-information-area.png
  page/assets/images/manual/administration-area/en/the-navigation-area.png
  page/assets/images/manual/administration-area/en/the-sticky-tab-navigation-list.png
  page/assets/images/manual/administration-area/en/the-workspace.png
  page/static/css/theme-contao.css
Labels: User Manual

#1335 Update screenshot
  page/assets/images/manual/article-management/de/mehrere-artikel-mit-teasertext.png
  page/assets/images/manual/article-management/en/multiple-articles-with-teasertext.png
Labels: User Manual

#1337 Fixes for 5.3
  docs/manual/administration-area/edit-data-records.de.md
  docs/manual/administration-area/edit-data-records.en.md
  docs/manual/article-management/content-elements/_index.de.md
  docs/manual/article-management/content-elements/miscellaneous.de.md
  docs/manual/article-management/content-elements/miscellaneous.en.md
Labels: User Manual

#1340 Update CM Screenshots
  docs/manual/installation/update-contao.en.md
  page/assets/images/manual/installation/de/aktualisierung-fuer-minor-release-abgeschlossen.png
  page/assets/images/manual/installation/de/aktualisierung-fuer-minor-release-starten.png
  page/assets/images/manual/installation/de/cloud_resolver_abschalten.png
  page/assets/images/manual/installation/de/contao-per-contao-manager-installieren.png
  page/assets/images/manual/installation/de/contao-wird-installiert.png
  page/assets/images/manual/installation/de/serverkonfiguration.png
  page/assets/images/manual/installation/de/willkommensseite-des-contao-managers.png
  page/assets/images/manual/installation/en/contao-manager-background-task.png
  page/assets/images/manual/installation/en/contao-manager-packages.png
  page/assets/images/manual/installation/en/contao-manager-setup.png
  page/assets/images/manual/installation/en/disable_cloud_resolver.png
  page/assets/images/manual/installation/en/manager-update-contao.png
  page/assets/images/manual/installation/en/server-configuration.png
  page/assets/images/manual/installation/en/welcomepage-contao-manager.png
Labels: User Manual

#1346 Update root directory
  docs/manual/installation/quickstart.en.md
Labels: User Manual

#1350 Update newsListFetchItems.md
  docs/dev/reference/hooks/newsListCountItems.md
  docs/dev/reference/hooks/newsListFetchItems.md
Labels: Developer Documentation

#1352 Update/sharpen introduction screenshots
  page/assets/images/manual/introduction/de/die-contao-projektwebseite.png
  page/assets/images/manual/introduction/de/die-deutschsprachige-contao-community.png
  page/assets/images/manual/introduction/de/die-entwicklungsumgebung.png
  page/assets/images/manual/introduction/en/the-contao-project-website.png
  page/assets/images/manual/introduction/en/the-development-environment.png
  page/assets/images/manual/introduction/en/the-english-speaking-contao-community.png
Labels: User Manual

#1347 Explain theme creation for the manager
  docs/manual/guides/manager-theme.de.md
  docs/manual/guides/manager-theme.en.md
  page/assets/images/manual/guides/de/manager-theme-de.png
  page/assets/images/manual/guides/en/manager-theme-en.png
Labels: User Manual

#1349 Update twig-template-data.de.md
  docs/manual/layout/templates/twig/twig-template-data.de.md
Labels: User Manual
