Repository contao/docs, pull requests merged in 2024-10, with the labels that each got.

#1443 Update deprecated Security service in parseTemplate.md
  docs/dev/reference/hooks/parseTemplate.md
Labels: Developer Documentation

#1445 Add zwsp
  docs/manual/article-management/insert-tags.de.md
  docs/manual/article-management/insert-tags.en.md
Labels: User Manual

#1452 Correcting method examples/comments and translations
  docs/dev/framework/models/_index.md
Labels: Developer Documentation

#1446 Add startpage for language de
  index/de/index.html
  index/en/index.html
  index/static/A.css
  index/static/favicon.png
Labels: Developer Documentation, User Manual

#1348 Document enum support
  docs/dev/framework/models/_index.md
  docs/dev/framework/models/enumerations.md
  docs/dev/reference/dca/fields.md
Labels: Developer Documentation

#1441 Add Contao CSRF to Symfony Forms
  docs/dev/framework/request-tokens.md
Labels: Developer Documentation
