Repository contao/docs, pull requests merged in 2024-12, with the labels that each got.

#1480 Replace ScriptHandler with contao-setup script
  docs/dev/getting-started/initial-setup/managed-edition.md
Labels: Developer Documentation

#1482 Fix typo
  docs/dev/guides/namespaces.md
Labels: Developer Documentation

#1486 Update the configuration docs
  docs/dev/reference/config.md
  docs/manual/system/settings.de.md
  docs/manual/system/settings.en.md
Labels: Developer Documentation, User Manual

#1487 Run `backup:create` without touching crontab
  docs/manual/cli/db-backups.de.md
  docs/manual/cli/db-backups.en.md
Labels: User Manual

#1483 Document the Module Wizard
  docs/dev/reference/widgets/module-wizard.md
  page/assets/images/dev/reference/widgets/module-wizard.png
Labels: Developer Documentation

#1484 Document the Section Wizard
  docs/dev/reference/widgets/section-wizard.md
  page/assets/images/dev/reference/widgets/section-wizard.png
Labels: Developer Documentation
