Repository contao/docs, pull requests merged in 2024-01, with the labels that each got.

#1281 Update "Click to edit" docs for Contao 5
  docs/manual/administration-area/back-end-keyboard-shortcuts.de.md
  docs/manual/administration-area/back-end-keyboard-shortcuts.en.md
Labels: User Manual

#1282 docs(DDEV): remove mutagen notice
  docs/manual/guides/local-installation/ddev.de.md
  docs/manual/guides/local-installation/ddev.en.md
Labels: User Manual

#1284 Add missing closing bracket
  docs/manual/installation/quickstart.de.md
Labels: User Manual

#1285 Add example on how to use the data in a "custom template"
  docs/manual/article-management/content-elements/include-elements.de.md
  docs/manual/article-management/content-elements/include-elements.en.md
  docs/manual/layout/module-management/miscellaneous.de.md
  docs/manual/layout/module-management/miscellaneous.en.md
  page/assets/images/manual/article-management/de/template-data.png
  page/assets/images/manual/article-management/en/template-data.png
Labels: User Manual

#1288 Fix DI example code
  docs/dev/getting-started/extension.md
Labels: Developer Documentation

#1303 Document Content Security Policy features
  docs/dev/framework/csp.md
  docs/dev/framework/response-context.md
  docs/dev/reference/config.md
  docs/dev/reference/services.md
  docs/manual/layout/site-structure/configure-pages.de.md
  docs/manual/layout/site-structure/configure-pages.en.md
  docs/manual/system/settings.de.md
  docs/manual/system/settings.en.md
Labels: Developer Documentation, User Manual

#1306 Update contao-manager.de - web auf public
  docs/manual/installation/contao-manager.de.md
Labels: User Manual

#1301 Implement dark-mode
  docs/dev/internals/issue-workflow.md
  page/layouts/partials/dark-mode-toggle.html
  page/layouts/partials/search.html
  page/layouts/shortcodes/mermaid.html
  page/static/css/theme-contao.css
Labels: Developer Documentation
