Repository contao/docs, pull requests merged in 2024-08, with the labels that each got.

#1415 Update `contao-component-dir` path for 5.4.x
  docs/manual/guides/install-test-versions.de.md
  docs/manual/guides/install-test-versions.en.md
Labels: User Manual

#1417 Fix condition example for module listing
  docs/manual/guides/module-listing.de.md
  docs/manual/guides/module-listing.en.md
Labels: User Manual

#1418 Document `PageFinder` service
  docs/dev/reference/services.md
Labels: Developer Documentation

#1419 Fix typos
  docs/dev/reference/dca/callbacks.md
Labels: Developer Documentation

#1421 Update add-first-index-page.de.md
  docs/manual/guides/add-first-index-page.de.md
Labels: User Manual

#1416 Add contao.org Top Navigation
  page/layouts/partials/custom-footer.html
  page/layouts/partials/header.html
  page/static/css/theme-contao.css
Labels: Developer Documentation, User Manual

#1404 Update move-contao.de | Add rebuild cache
  docs/manual/installation/move-contao.de.md
  docs/manual/installation/move-contao.en.md
Labels: User Manual

#1413 Add CLI contao:user command
  docs/manual/cli/user.de.md
  docs/manual/cli/user.en.md
Labels: User Manual
