Repository contao/docs, pull requests merged in 2024-07, with the labels that each got.

#1400 Fix service tag
  docs/dev/framework/cron.md
Labels: Developer Documentation

#1401 Document `imageSize` widget
  docs/dev/reference/widgets/image-size.md
  page/assets/images/dev/reference/widgets/image-size.png
Labels: Developer Documentation

#1402 Document `inputUnit` widget
  docs/dev/reference/widgets/input-unit.md
  page/assets/images/dev/reference/widgets/input-unit.png
Labels: Developer Documentation

#1408 Documented onpalette_callback
  docs/dev/reference/dca/callbacks.md
Labels: Developer Documentation

#1407 Update guide for installing the latest Release Candidate (5.4)
  docs/manual/guides/install-test-versions.de.md
  docs/manual/guides/install-test-versions.en.md
Labels: User Manual

#1414 Normalize everything to YAML
  docs/dev/framework/cron.md
  docs/dev/framework/image-processing/image-sizes.md
  docs/dev/framework/search-indexing.md
  docs/dev/getting-started/starting-development.md
  docs/manual/article-management/insert-tags.de.md
  docs/manual/article-management/insert-tags.en.md
  docs/manual/cli/crawl.de.md
  docs/manual/cli/crawl.en.md
  docs/manual/cli/db-backups.de.md
  docs/manual/cli/db-backups.en.md
  docs/manual/faq/_index.de.md
  docs/manual/faq/_index.en.md
  docs/manual/file-manager/file-manager.de.md
  docs/manual/file-manager/file-manager.en.md
  docs/manual/guides/local-installation/ddev.de.md
  docs/manual/guides/local-installation/ddev.en.md
  docs/manual/guides/manager-theme.de.md
  docs/manual/guides/manager-theme.en.md
  docs/manual/installation/contao-manager.de.md
  docs/manual/installation/contao-manager.en.md
  docs/manual/installation/install-contao.de.md
  docs/manual/installation/install-contao.en.md
  docs/manual/installation/system-requirements.de.md
  docs/manual/installation/system-requirements.en.md
  docs/manual/site-structure/multilingual-websites.de.md
  docs/manual/site-structure/multilingual-websites.en.md
  docs/manual/site-structure/pages-as-central-elements/website-root.de.md
  docs/manual/site-structure/pages-as-central-elements/website-root.en.md
  docs/manual/system/debug-mode.de.md
  docs/manual/system/debug-mode.en.md
  docs/manual/system/maintenance.de.md
  docs/manual/system/maintenance.en.md
  docs/manual/system/settings.de.md
  docs/manual/system/settings.en.md
  docs/manual/user-management/users.de.md
  docs/manual/user-management/users.en.md
Labels: Developer Documentation, User Manual
