Repository contao/docs, pull requests merged in 2024-04, with the labels that each got.

#1367 Document CHMOD widget
  docs/dev/reference/widgets/chmod.md
  page/assets/images/dev/reference/widgets/chmod.png
Labels: Developer Documentation

#1363 Update system requirements for Contao 5 under PHP 8.3+
  docs/manual/installation/system-requirements.de.md
  docs/manual/installation/system-requirements.en.md
Labels: User Manual

#1369 Update list.md
  docs/dev/reference/dca/list.md
Labels: Developer Documentation

#1368 Remove `feViewable`
  docs/dev/reference/dca/fields.md
  docs/manual/guides/dca-adjustments.de.md
  docs/manual/guides/dca-adjustments.en.md
Labels: Developer Documentation, User Manual

#1372 Document `content_element()` and `frontend_module()` Twig functions
  docs/dev/framework/templates/creating-templates.md
Labels: Developer Documentation

#1371 Document nested fragments
  docs/dev/framework/content-elements.md
  page/assets/images/dev/framework/nested-fragments.png
Labels: Developer Documentation

#1381 New insert tag system
  docs/dev/framework/insert-tags.md
Labels: Developer Documentation

#1383 Locales, languages and countries
  docs/dev/framework/translations.md
  docs/dev/reference/services.md
Labels: Developer Documentation

#1382 Add helper tools
  docs/manual/system/settings.de.md
  docs/manual/system/settings.en.md
  page/config/_default/config.toml
  page/layouts/partials/custom-header.html
  page/static/css/tools.css
  page/static/js/tools.js
Labels: User Manual

#1376 Update insert tag description for `<acronym>`
  docs/manual/article-management/insert-tags.de.md
  docs/manual/article-management/insert-tags.en.md
Labels: User Manual

#1374 Correct typo
  docs/manual/system/settings.de.md
Labels: User Manual

#1366 Update PHP Version in System Requirements
  docs/manual/installation/system-requirements.de.md
  docs/manual/installation/system-requirements.en.md
Labels: User Manual

#1365 Update twig-syntax.en.md
  docs/manual/layout/templates/twig/twig-syntax.en.md
Labels: User Manual
