Repository contao/docs, pull requests merged in 2025-04, with the labels that each got.

#1564 Update _index.de.md
  docs/manual/migration/_index.de.md
Labels: User Manual

#1565 Update fields.md
  docs/dev/reference/dca/fields.md
Labels: Developer Documentation

#1519 Start a section about writing Stimulus controllers for the back end
  docs/dev/internals/_stimulus-backend.md
Labels: Developer Documentation

#1569 Add a Twig reference
  docs/dev/framework/templates/_index.md
  docs/dev/framework/templates/architecture.md
  docs/dev/framework/templates/creating-templates.md
  docs/dev/framework/templates/debugging.md
  docs/dev/framework/templates/getting-started.md
  docs/dev/framework/templates/quick-reference.md
  docs/dev/reference/twig/_index.md
  docs/dev/reference/twig/filter/_index.md
  docs/dev/reference/twig/filter/csp_inline_styles.md
  docs/dev/reference/twig/filter/csp_unsafe_inline_style.md
  docs/dev/reference/twig/filter/deserialize.md
  docs/dev/reference/twig/filter/e.md
  docs/dev/reference/twig/filter/encode_email.md
  docs/dev/reference/twig/filter/escape.md
  docs/dev/reference/twig/filter/format_bytes.md
  docs/dev/reference/twig/filter/highlight.md
  docs/dev/reference/twig/filter/highlight_auto.md
  docs/dev/reference/twig/filter/insert_tag.md
  docs/dev/reference/twig/filter/insert_tag_raw.md
  docs/dev/reference/twig/filter/sanitize_html.md
  docs/dev/reference/twig/function/_index.md
  docs/dev/reference/twig/function/add_schema_org.md
  docs/dev/reference/twig/function/attrs.md
  docs/dev/reference/twig/function/backend_icon.md
  docs/dev/reference/twig/function/contao_figure.md
  docs/dev/reference/twig/function/contao_section.md
  docs/dev/reference/twig/function/contao_sections.md
  docs/dev/reference/twig/function/content_element.md
  docs/dev/reference/twig/function/content_url.md
  docs/dev/reference/twig/function/csp_hash.md
  docs/dev/reference/twig/function/csp_nonce.md
  docs/dev/reference/twig/function/csp_source.md
  docs/dev/reference/twig/function/figure.md
  docs/dev/reference/twig/function/frontend_module.md
  docs/dev/reference/twig/function/include.md
  docs/dev/reference/twig/function/insert_tag.md
  docs/dev/reference/twig/function/picture_config.md
  docs/dev/reference/twig/function/prefix_url.md
  docs/dev/reference/twig/function/slot.md
  docs/manual/layout/templates/twig/_index.de.md
  docs/manual/layout/templates/twig/_index.en.md
  docs/manual/layout/templates/twig/twig-syntax.de.md
  docs/manual/layout/templates/twig/twig-syntax.en.md
  docs/manual/layout/templates/twig/twig-template-data.de.md
  docs/manual/layout/templates/twig/twig-template-data.en.md
  docs/manual/layout/templates/twig/twig-template-manage.de.md
  docs/manual/layout/templates/twig/twig-template-manage.en.md
  docs/manual/layout/templates/twig/twig-template-reuse.de.md
  docs/manual/layout/templates/twig/twig-template-reuse.en.md
Labels: Developer Documentation, User Manual

#1570 Document the `frontend_module` Twig function
  docs/dev/reference/twig/functions/content_element.md
  docs/dev/reference/twig/functions/frontend_module.md
Labels: Developer Documentation

#1572 Document the `content_url` Twig function
  docs/dev/reference/twig/functions/content_url.md
Labels: Developer Documentation

#1573 Document the page tree widget
  docs/dev/reference/widgets/file-tree.md
  docs/dev/reference/widgets/page-tree.md
  page/assets/images/dev/reference/widgets/page-tree.png
Labels: Developer Documentation

#1576 Documented the attrs() Twig function
  docs/dev/reference/twig/functions/attrs.md
Labels: Developer Documentation

#1579 Add a note about hooks being an outdated concept
  docs/dev/framework/hooks.md
Labels: Developer Documentation
