Repository contao/docs, pull requests merged in 2025-06, with the labels that each got.

#1577 Add FAQ entry for adjusting HTML attributes of headlines
  docs/manual/faq/_index.de.md
  docs/manual/faq/_index.en.md
Labels: Developer Documentation, User Manual

#1597 Document the `insert_tag` Twig function
  docs/dev/reference/twig/functions/insert_tag.md
Labels: Developer Documentation

#1602 Format document locations as list for better readability
  docs/dev/reference/twig/tags/add.md
Labels: Developer Documentation

#1603 Document the Twig `picture_config` function
  docs/dev/reference/twig/functions/picture_config.md
Labels: Developer Documentation

#1604 Document the `prefix_url` Twig function
  docs/dev/reference/twig/functions/prefix_url.md
Labels: Developer Documentation

#1612 Add info for User management on how to activate 2FA in the Backend for user-self
  docs/manual/user-management/users.de.md
  docs/manual/user-management/users.en.md
Labels: User Manual

#1613 Update config.md
  docs/dev/reference/config.md
Labels: Developer Documentation
