Repository contao/docs, pull requests merged in 2025-02, with the labels that each got.

#1505 Use `@RC` for Release Candidates
  docs/manual/guides/install-test-versions.de.md
  docs/manual/guides/install-test-versions.en.md
Labels: User Manual

#1508 Update content-routing.md
  docs/dev/framework/routing/content-routing.md
Labels: Developer Documentation

#1512 Simplify the content resolver example
  docs/dev/framework/routing/content-routing.md
Labels: Developer Documentation

#1513 Add Sebastian as core developer
  docs/dev/_index.md
  docs/manual/_index.de.md
  docs/manual/_index.en.md
Labels: Developer Documentation, User Manual

#1516 Update list.md
  docs/dev/reference/dca/list.md
Labels: Developer Documentation

#1518 merge table for better overview
  docs/dev/reference/dca/list.md
Labels: Developer Documentation

#1517 Update tl_class 'long'
  docs/dev/reference/dca/palettes.md
Labels: Developer Documentation

#1509 Updated Contao Manager user management docs
  docs/manual/installation/contao-manager.de.md
  docs/manual/installation/contao-manager.en.md
Labels: User Manual

#1521 Add $promise to return in async cron
  docs/dev/framework/cron.md
Labels: Developer Documentation

#1514 [5.5] Document showing the operations in the overview
  docs/dev/reference/dca/list.md
Labels: Developer Documentation

#1523 Document manual disabling of the maintenance mode
  docs/manual/cli/maintenance-mode.de.md
  docs/manual/cli/maintenance-mode.en.md
Labels: User Manual

#1525 Update the Manager requirements
  docs/manual/installation/contao-manager.de.md
  docs/manual/installation/contao-manager.en.md
Labels: User Manual

#1534 Document `contao.cron.web_listener` config
  docs/dev/framework/cron.md
Labels: Developer Documentation

#1533 Simplify BackendMenuListener example
  docs/dev/guides/back-end-routes.md
Labels: Developer Documentation
