Repository contao/docs, pull requests merged in 2025-03, with the labels that each got.

#1537 Use proper partial for version shortcode
  page/i18n/de.yml
  page/i18n/en.yml
  page/layouts/shortcodes/version.html
Labels: Bug

#1536 Change shortcode version call
  docs/dev/reference/events.md
Labels: Developer Documentation

#1526 Documented requirements and configuration of the back end search
  docs/manual/installation/system-requirements/_index.de.md
  docs/manual/installation/system-requirements/_index.en.md
  docs/manual/installation/system-requirements/backend-search.de.md
  docs/manual/installation/system-requirements/backend-search.en.md
Labels: User Manual

#1539 Update install-contao.en.md
  docs/manual/installation/install-contao.de.md
  docs/manual/installation/install-contao.en.md
Labels: User Manual

#1540 Update CM Screenshots
  page/assets/images/manual/installation/de/contao-per-contao-manager-installieren.png
  page/assets/images/manual/installation/de/willkommensseite-des-contao-managers.png
  page/assets/images/manual/installation/en/contao-manager-setup.png
  page/assets/images/manual/installation/en/welcomepage-contao-manager.png
Labels: User Manual

#1543 Use `currentContaoVersion` for `install-contao`
  docs/manual/installation/install-contao.de.md
  docs/manual/installation/install-contao.en.md
Labels: User Manual

#1556 Fix path of twig example
  docs/dev/framework/content-elements.md
Labels: Developer Documentation

#1557 Update _index.md
  docs/dev/framework/routing/_index.md
Labels: Developer Documentation

#1558 Update cron.md
  docs/dev/framework/cron.md
Labels: Developer Documentation

#1538 Change Search Highlight
  page/assets/css/theme-contao.css
Labels: Developer Documentation, User Manual

#1546 Update Installation Infos
  docs/manual/installation/contao-installtool.de.md
  docs/manual/installation/contao-installtool.en.md
  docs/manual/installation/install-contao.de.md
  docs/manual/installation/install-contao.en.md
  docs/manual/installation/quickstart.de.md
  docs/manual/installation/quickstart.en.md
Labels: User Manual

#1550 Base update instructions on Contao 5
  docs/manual/installation/update-contao.de.md
  docs/manual/installation/update-contao.en.md
  page/assets/images/manual/installation/de/aktualisierung-fuer-minor-release-abgeschlossen.png
  page/assets/images/manual/installation/de/aktualisierung-fuer-minor-release-starten.png
  page/assets/images/manual/installation/en/contao-manager-packages.png
  page/assets/images/manual/installation/en/manager-update-contao.png
  page/assets/images/manual/installation/en/update-to-minor-release-finished.png
  page/assets/images/manual/installation/en/update-to-minor-release-started.png
Labels: User Manual

#1553 Update services.md -> SimpleTokenParser Class path changed
  docs/dev/reference/services.md
Labels: Developer Documentation

#1563 Update fields.md
  docs/dev/reference/dca/fields.md
Labels: Developer Documentation
